/*--------------------------------------------------------------------
/*Estilos Navbar*/
.navBar{
    background-color: rgb(78, 132, 250);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 15px;
    border-bottom: 2px solid;
}

.container-nav{     
    width: 80%;
    height: 100px;    
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.style-brand{
    display: flex;
    align-items: center;
    color: white;    
}

.style-nav{        
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    list-style: none;
    font-size: 20px;
    transform: translateY(10px);    
}

.style-list{
    color: white;
    text-decoration: none;
}

.style-list:hover{
    color: orange;
}

/*--------------------------------------------------------------------
/*Estilos ícono carrito*/
.cart-style{    
    color: white;
    text-decoration: none;
    display: flex;    
    justify-content: flex-end;
    padding: 3px 7px;
  position: relative;
  display: inline-block;    
}

.cart-style:hover{
    color: orange;
}

.cart-icon{
    font-size: 24px;
}

.cart-badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 1px 5px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 14px;
}

/*--------------------------------------------------------------------
/*Estilos ItemListContainer*/
.style-container{
    padding-top: 20px;
}

/*--------------------------------------------------------------------
/*Estilos cards*/
.item-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
.item-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item-card{
  width: 235px;
  padding: 8px 12px;
  box-shadow: 0px 3px 10px #ececed;
  text-align: center;
  margin: 8px 15px;
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  display: flex;
  flex-direction: column;
}

.item-card:hover{
  cursor: pointer;
  box-shadow: 0px 6px 5px #dedede;
  transform: translateY(-5px);
}

h2 {
  text-align: center;
  color: blue;
  font-size: 36px;
}

/*--------------------------------------------------------------------  
/*Estilos tabla del carrito*/  
.cartTable{
    border-spacing: 0;
    border-radius: 5px;
    border: solid 1px rgb(0, 0, 0);  
    width: 70%;
    margin: 15px auto;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
    color: white;        
}
      
.cartHead{
  background-color: rgb(243, 129, 63);;
  margin: 8px auto;
}
  
.cartRow{
  line-height: 36px;
  width: 25px; 
  color: black;       
}

.cartRowName{
  width: 100px;  
}

.cartRowPrice{
  width: 40px;  
}

.cartRowUnit{
  width: 20px;
}

.cartRowTotal{
  width: 40px;
}

.cartRowDelete{
  width: 100px;
}

.deleteButton{
  width: 100px;
}
      
.cartDetail{
  color: #000000;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  padding-top: 10px;
} 

/*--------------------------------------------------------------------*/