/*Estilos Navbar*/

.navBar{
    background-color: rgb(78, 132, 250);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 15px;
    border-bottom: 2px solid;
}

.container-nav{     
    width: 80%;
    height: 100px;    
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.style-brand{
    display: flex;
    align-items: center;
    color: white;    
}

.style-nav{        
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    list-style: none;
    font-size: 20px;
    transform: translateY(10px);    
}

.style-list{
    color: white;
    text-decoration: none;
}

.style-list:hover{
    color: orange;
}


/*Estilos ícono carrito*/
.cart-style{    
    color: white;
    text-decoration: none;
    display: flex;    
    justify-content: flex-end;
    padding: 3px 7px;
  position: relative;
  display: inline-block;    
}

.cart-style:hover{
    color: orange;
}

.cart-icon{
    font-size: 24px;
}

.cart-badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 1px 5px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 14px;
}

/*Estilos ItemListContainer*/
.style-container{
    padding-top: 20px;
}


/*Estilos cards*/

.item-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
    
    .item-list{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    .item-card{
      width: 235px;
      padding: 8px 12px;
      box-shadow: 0px 3px 10px #ececed;
      text-align: center;
      margin: 8px 15px;
      border-radius: 4px;
      transition: all ease-in-out 0.2s;
      display: flex;
      flex-direction: column;
    }
    .item-card:hover{
      cursor: pointer;
      box-shadow: 0px 6px 5px #dedede;
      transform: translateY(-5px);
    }
    
    h2 {
      text-align: center;
      color: blue;
      font-size: 36px;
    }
  